[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cmurphy-gerrithub
[access "refs/for/refs/*"]
	read = group user/cmurphy-gerrithub
	push = group user/cmurphy-gerrithub
	label-Code-Review = -2..+2 group user/cmurphy-gerrithub
	label-Verified = -1..+1 group user/cmurphy-gerrithub
	rebase = group user/cmurphy-gerrithub
	removeReviewer = group user/cmurphy-gerrithub
	submit = group user/cmurphy-gerrithub
[access "refs/heads/*"]
	read = group user/cmurphy-gerrithub
	create = group user/cmurphy-gerrithub
	push = +force group user/cmurphy-gerrithub
	pushMerge = group user/cmurphy-gerrithub
[access "refs/tags/*"]
	push = group user/cmurphy-gerrithub
	push = +force group user/cmurphy-gerrithub
