[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cmurphy-gerrithub
[access "refs/for/refs/*"]
	read = group user/cmurphy-gerrithub
	push = group user/cmurphy-gerrithub
	label-Code-Review = -2..+2 group user/cmurphy-gerrithub
	label-Verified = -2..+2 group user/cmurphy-gerrithub
	rebase = group user/cmurphy-gerrithub
	removeReviewer = group user/cmurphy-gerrithub
	submit = group cmurphy-group
	submit = group user/cmurphy-gerrithub
[access "refs/heads/*"]
	read = group user/cmurphy-gerrithub
	create = group user/cmurphy-gerrithub
	push = +force group user/cmurphy-gerrithub
	pushMerge = group user/cmurphy-gerrithub
	label-Workflow = -1..+1 group user/cmurphy-gerrithub
[access "refs/tags/*"]
	push = group user/cmurphy-gerrithub
	push = +force group user/cmurphy-gerrithub
[project]
	description = test gerrithub
[label "Workflow"]
	function = NoOp
	value = -1 Work in progress
	value = 0 Ready for reviews
	value = +1 Approved
[label "Verified"]
	function = NoOp
	value = -2 Fails
	value = -1 Doesn't seem to work
	value = 0 No score
	value = +1 Works for me
	value = +2 Verified